name: Convert Markdown to PDF

on:
  push:
    branches:
      - main
    paths:
      - "LINUX COMMANDS CHEAT SHEET.md"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "YAML is valid"
